@import "../global/variables.scss";

.control {
  position: relative;

  display: flex;
  box-sizing: border-box;
  height: 46px;
  padding-left: 62px;

  text-align: left;
  align-items: center;

  &:hover .control__mark {
    background-color: $main-field-bg-color-hover;
  }

  &:active .control__mark {
    background-color: #d5d5d5;

    &--radio::before,
    &--checkbox::before {
      opacity: 0.3;
    }
  }
}

.control__label {
  display: block;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.control__mark {
  position: absolute;
  left: 0;

  width: 46px;
  height: 46px;

  background-color: $main-field-bg-color;
  border-radius: 4px;

  &--radio {
    border-radius: 50%;
  }
}

.control__input {
  &:focus + .control__mark {
    outline: 3px #81b3d2 solid;
  }
}

.control__input:checked + .control__mark {
  &--radio::before {
    $checked-mark-width: 16px;
    $checked-mark-height: 16px;

    position: absolute;
    content: "";
    top: calc(50% - $checked-mark-height / 2);
    left: calc(50% - $checked-mark-width / 2);

    width: $checked-mark-width;
    height: $checked-mark-height;

    background-color: #333333;
    border-radius: 50%;
  }

  &--checkbox::before {
    $checked-mark-width: 22px;
    $checked-mark-height: 16px;

    position: absolute;
    content: "";
    top: calc(50% - $checked-mark-height / 2);
    left: calc(50% - $checked-mark-width / 2);

    width: $checked-mark-width;
    height: $checked-mark-height;

    background-image: url("../../img/tick.svg");
  }
}
