@import '../global/variables.scss';

.modal-error {
  display: none;
  padding: 45px 42px 35px;

  &--open {
    display: flex;
  }
}

.modal-error__inner {
  margin-bottom: 28px;
}

.modal-error__button {
  width: 180px;
}

@media (min-width: $tablet-width) {
  .modal-error {
    width: 400px;
    padding: 47px 47px 49px;
  }

  .modal-error__inner {
    margin-bottom: 32px;
  }

  .modal-error__button {
    width: 272px;

    font-size: 21px;
  }
}
