@import '../global/variables.scss';

.field-label {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 21px;
 
  align-items: flex-start;

  &__label {
    display: block;
    margin-left: 16px;

    color: $main-font-color;
  }
}