@import "../global/variables.scss";

.galery {
  display: flex;
  flex-direction: column;

  border-top: $section-border-color 1px solid;
}

.galery__item {
  display: flex;
  flex-direction: column-reverse;

  padding: 24px 20px;

  border-bottom: $section-border-color 1px solid;
}

@media (min-width: $tablet-width) {
  .galery {
    padding: 0 60px;

    border: none;
  }

  .galery__photo-list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .galery__item {
    padding: 0;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .galery {
    padding: 0;
  }

  .galery__photo-list {
    grid-template-columns: repeat(3, 33.33%);
  }

  .galery__item {
    position: relative;
  }
}
