@import '../global/variables.scss';

.main-header {
  position: relative;

  display: flex;
  padding: 16px 20px;

  background-color: $additional-bg-color;

  align-items: center;
}

@media (min-width: $tablet-width) {
  .main-header {
    width: 100%;
    padding: 0;
    margin: auto;
  }
}
