@import '../global/variables.scss';

.reasons {
  position: relative;

  &::before {
    position: absolute;
    top: -16px;
    left: 0;

    width: 100%;

    content: url('../../img/reasons-back-plug.svg');
  }

  &__list {
    display: flex;
    flex-direction: column;

    background-color: $reasons-list-bg-color;
  }
}
