@import '../global/variables.scss';

.reasons__list {
  display: flex;
  flex-direction: column;

  background-color: $reasons-list-bg-color;
}


@media (max-width: calc($tablet-width - 1px)) {
  .reasons {
    position: relative;

    &::before {
      position: absolute;
      top: -16px;
      left: 0;

      width: 100%;

      content: url('../../img/reasons-back-plug.svg');
    }
  }
}

@media (min-width: $tablet-width) {
  .reasons__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
