@import "../global/variables.scss";

.reasons-item {
  &--wide {
    color: $secondary-font-color-white;

    background-color: $main-bg-color;

    .reasons-item__info {
      padding: 37px 10px;
    }
  }

  &--suggestion {
    padding: 23px 0 2px;

    text-align: left;

    background-color: $additional-bg-color;

    .reasons-item__info {
      padding-left: 47px;
      background-position: top left;
      background-size: 40px 40px;
      background-repeat: no-repeat;

      align-items: flex-start;
    }

    .reasons-item__title {
      margin-bottom: 16px;
      padding-top: 8px;
    }
  }

  &--housing {
    .reasons-item__info {
      background-image: url("../../img/house.svg");
    }
  }

  &--food {
    .reasons-item__info {
      background-image: url("../../img/food.svg");
    }
  }

  &--souvenirs {
    padding-bottom: 46px;

    .reasons-item__info {
      background-image: url("../../img/souvenir.svg");
    }
  }

  &--advantage {
    padding: 0 18px;

    .reasons-item__info {
      padding: 24px 16px;
    }
  }
}

.reasons-item__info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 284px;
  margin: auto;

  align-items: center;
}

.reasons-item__title {
  font-size: 18px;
  line-height: 26px;

  margin-bottom: 12px;
}

.reasons-item__description,
.reasons-item__number {
  font-size: 14px;
  line-height: 21px;
}

.reasons-item__description {
  margin: 0;
}

.reasons-item__number {
  display: block;
  margin-bottom: 17px;
}

.reasons-item__image-wrapper {
  width: 320px;
}

.reasons-item__image {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

@media (max-width: calc($tablet-width - 1px)) {
  .reasons-item {
    &:first-child {
      .reasons-item__info {
        padding: 54px 2px 40px;
      }
    }

    &--advantage {
      &:not(:last-child) .reasons-item__info {
        border-bottom: 1px solid #d6d6d6;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .reasons-item {
    &--wide {
      display: flex;
      flex-wrap: wrap;

      .reasons-item__info {
        height: 256px;
        padding: 52px 33px 31px;
      }

      .reasons-item__title {
        width: 150px;
        margin-bottom: 14px;
      }

      .reasons-item__number {
        margin-bottom: 22px;
      }

      .reasons-item__image {
        height: 256px;
      }
    }

    &:nth-child(5n) {
      flex-direction: row-reverse;
    }

    &--suggestion {
      padding: 0;
      margin: 0;

      text-align: center;

      .reasons-item__info {
        padding: 156px 33px 60px;

        align-items: center;
      }

      .reasons-item__title {
        padding: 0;
        margin-bottom: 24px;
      }
    }

    &--housing {
      .reasons-item__info {
        background-size: 82px 76px;
        background-position: center 58px;
      }
    }

    &--food {
      .reasons-item__info {
        background-size: 100px 79px;
        background-position: center 58px;
      }
    }

    &--souvenirs {
      .reasons-item__info {
        background-size: 80px 90px;
        background-position: center 58px;
      }
    }

    &--advantage {
      padding: 0;
      text-align: center;

      .reasons-item__info {
        padding: 52px 33px;
      }

      .reasons-item__number {
        margin-bottom: 25px;
      }
    }
  }

  .reasons-item__info {
    width: 256px;
    margin: 0;
    padding: 52px 33px 31px;
  }

  .reasons-item__title {
    width: 140px;

    font-size: 21px;
    line-height: 27px;
  }

  .reasons-item__image-wrapper {
    width: 512px;
  }
}

@media (min-width: $desktop-width) {
  .reasons-item {
    &--wide {
      .reasons-item__info {
        padding: 52px 67px;
      }
    }

    &:nth-child(5) {
      .reasons-item__info {
        padding: 52px 93px;
      }
    }

    &--suggestion {
      .reasons-item__info {
        padding: 169px 50px 69px;
      }
    }

    &--housing {
      .reasons-item__info {
        background-size: 88px 78px;
        background-position: center 65px;
      }
    }

    &--food {
      .reasons-item__info {
        background-size: 100px 75px;
        background-position: center 68px;
      }
    }

    &--souvenirs {
      .reasons-item__info {
        background-size: 90px 90px;
        background-position: center 60px;
      }

      .reasons-item__description {
        span {
          display: block;
        }
      }
    }

    &--advantage {
      .reasons-item__info {
        padding: 62px 50px 40px;
      }

      .reasons-item__number {
        margin-bottom: 23px;
      }
    }
  }

  .reasons-item__info {
    width: 400px;
    padding: 52px 50px 51px;
  }

  .reasons-item__image-wrapper {
    width: 800px;
  }
}
