@import '../global/variables.scss';

.social-list {
  display: flex;
  gap: 6px;
  width: 156px;
}

.social-list__item {
  width: 48px;
  height: 48px;

  background-color: $main-button-bg-color;
}

.social-list__link {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $main-button-bg-color-hover;
  }

  &:active {
    background-color: $main-button-bg-color-active;

    svg {
      opacity: 0.3;
    }
  }
}

@media (max-width: calc($tablet-width - 1px)) {
  .social-list {
    margin-bottom: 40px;
  }
}
