@import "../global/variables.scss";

.video {
  display: flex;
  flex-direction: column;
  padding: 17px 20px 0;

  align-items: center;
}

.video__title {
  width: 266px;
  margin-bottom: 26px;
  color: $secondary-font-color;
}

.video__subtitle {
  display: block;
  width: 266px;
  margin-bottom: 38px;

  font-size: 14px;
  line-height: 21px;
}

.video__video-container {
  position: relative;
}

.video__video {
  display: block;
}

.video__play-button {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 32px);

  padding: 8px;

  border: none;
  border-radius: 10px;
  background-color: transparent;

  &:focus {
    outline: 3px #81b3d2 solid;
    transform: scale(1.05);
  }

  &:hover {
    transform: scale(1.1);
  }
}

.video__play-button img {
  display: block;
}

@media (min-width: $tablet-width) {
  .video {
    padding: 54px 0 40px;
  }

  .video__title {
    width: 445px;
    margin-bottom: 32px;

    font-size: 30px;
    line-height: 26px;
  }

  .video__subtitle {
    width: 445px;
    margin-bottom: 87px;
  }

  .video__video {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding: 62px 200px 80px;
  }
}
