@import "./variables.scss";

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0;

  font-family: $main-font-family;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  word-break: break-word;
  color: $main-font-color;

  background-color: $primary-bg-color;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 320px;
  margin: 0 auto;

  text-align: center;

  background-color: $additional-bg-color;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}

@media (min-width: $desktop-width) {
  body {
    padding: 0 auto;
  }
}
